body #Top {
    text-align: right;
    font-size: xx-large;
}

.Hidden {
    display: none;
}

.box {
    background-color: rgb(110, 181, 228);
    width: 50px;
}

.square {
    background-color: aliceblue;
    width: 50px;
}

.border {
    background-color: #c6a287;
}

.login label {
    color: #000;
    font-weight: bold;
}

.login form {
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    border: 1px solid #fff;
}

#User_Login_body {
    width: 30%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background: #00000060;
    padding: 20px 50px;
}

#User_Login_body h1 {
    color: #fff;
}

#User_Login_body .login .login_item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
}

#User_Login_body button {
    margin-top: 20px;
    width: 190px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border: 0;
    border-radius: 15px;
}

#User_Registration_body {
    width: 30%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background: #00000060;
    padding: 20px 50px;
}

#User_Registration_body h1 {
    color: #fff;
}

#User_Registration_body button {
    margin-top: 20px;
    width: 190px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border: 0;
    border-radius: 15px;
}

#Comment {
    width: 50%;
    height: auto;
    margin: 0 auto;
    background: #00000060;
    padding: 20px 50px;
    color: #fff;
}