body #Top {
    text-align: right;
    font-size: xx-large;
}

.Hidden {
    display: none;
}

.box {
    background-color: rgb(110, 181, 228);
    width: 50px;
}

.square {
    background-color: aliceblue;
    width: 50px;
}

.border {
    background-color: #c6a287;
}

.login label {
    color: #000;
    font-weight: bold;
}

.login form {
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    border: 1px solid #fff;
}

#Prompt {
    color: #444;
    font-size: 18px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-item {
    flex-grow: 1;
    text-align: center;
}