
.box {
    background-color: rgb(110, 181, 228);
    width: 50px;
}

.square {
    background-color: aliceblue;
    width: 50px;
}

.border {
    background-color: #c6a287;
}

#Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#Prompt {
    color: #444;
    font-size: 18px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;  
    width: 80%;  
}

#Game_of_Chess_body{
    width: 200;
    height: 200;
}

/* 按钮的样式 */
#game_button button {
    flex: 1 1 48%;  /* 让按钮能均等地分配空间，并能在需要时折行 */
    margin: 1%;  /* 让按钮之间有一定的间隔 */
    font-size: 20px;  /* 字体大小 */
}

/* 游戏状态信息的样式 */
#gameStateMessage {
    text-align: center;  /* 文本居中 */
    width: 80%;  /* 占据80%的容器宽度 */
}